 <!-- <html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head> -->

<h1>Telecom Circles</h1>
<div class="container ">
    <div class="row ">


            <div class="circle col-lg-4 col-md-auto col-sm-6  col-12 block">
            <a routerLink="/circle-info/Chennai">
                <img [src]="logoUrl" class="image" style="width:100%">
                <div class="middle">
                    <div class="texttt">Chennai</div>
                </div>
            </a>

        </div>

        <div class="circle col-lg-4 col-md-auto col-sm-6  col-12 block">
            <a routerLink="/circle-info/Mumbai">
                <img [src]="mumbaiUrl" class="image" style="width:100%">
                <div class="middle">
                    <div class="texttt">Mumbai</div>
                </div>
            </a>

        </div>

        <div class="circle col-lg-4 col-md-auto col-sm-6  col-12 block">
            <a routerLink="/circle-info/Delhi">
                <img [src]="delhiUrl" class="image" style="width:100%">
                <div class="middle">
                    <div class="texttt">Delhi</div>
                </div>
            </a>
        </div>

        <div class="circle col-lg-4 col-md-auto col-sm-6  col-12 block">
            <a routerLink="/circle-info/Hyderabad">
                <img [src]="hyderabadUrl" class="image" style="width:100%">
                <div class="middle">
                    <div class="texttt">Hyderabad</div>
                </div>
            </a>
        </div>

        <div class="circle col-lg-4 col-md-auto col-sm-6  col-12 block">
            <a routerLink="/circle-info/Jaipur">
                <img [src]="jaipurUrl" class="image" style="width:100%">
                <div class="middle">
                    <div class="texttt">Jaipur</div>
                </div>
            </a>
        </div>

        <div class="circle col-lg-4 col-md-auto col-sm-6  col-12 block">
            <a routerLink="/circle-info/Bangalore">
                <img [src]="bangaloreUrl" class="image" style="width:100%">
                <div class="middle">
                    <div class="texttt">Bangalore</div>
                </div>
            </a>
        </div>



    </div>

</div>
<div>
        <a routerLink="/page2" class="btn btn-primary pull-right">Next Page</a>
</div>
