<div id="particles-js"></div>

<!-- <ul class="cb-slideshow">
	<li></li>
	
</ul> -->

<div class="container-fluid">
	<div class="row cb-slideshow-text-container ">
		<div class="tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto mr-auto section">

			<!-- <div class="alert alert-warning" *ngIf="!employees || employees.length==0">
				<fa name="exclamation-triangle"></fa> Invalid Username or Password
			  </div> -->
		
            <div class="back">
					<div class="login">
						 
      
						<h1>Login</h1>
						  <form method="post" (ngSubmit)="login()">
							<input type="text" name="u" placeholder="Username" required="required" [(ngModel)]="username"/>
							
							  
							  <input type="password" name="p" placeholder="Password" required="required" [(ngModel)]="password"/>
							  <button type="submit" class="btn btn-block btn-primary">Login</button>

							  <p ><a  routerLink="/forgot" tabindex="5" class="forgot">Forgot Password?</a></p>
						  </form>
					</div>
					</div>


		</div>
	</div>

</div>
<script type="text/javascript" src="./assets/js/particles.js"></script>
<script type="text/javascript" src="./assets/js/app.js"></script>
