h2{
    text-align: center;
}
a{
    text-align: center;
}

*{
    padding-bottom:  10px;
    
}
.card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 20px;
}

 .row{
  
    margin: 10px; /* Added */
    position: absolute;
 }

 
    .button {
        background-color: Crimson;  
        border-radius: 5px;
        color: white;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        margin: 0 auto;
        width: 100px; 
      }
      
      .button:focus,
      .button:hover {
        background-color: FireBrick;
        color: White;
        transition-duration: 400ms;
      }

      .container{
          text-align:center;
          margin-top: 20px;
          margin-bottom: 10px;

      }

      .centralise{
          width:60%;
          height:80%;
        }

        #overlayforCsa,#overlayforMap {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        #text{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 50px;
            color: white;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        }
        .ifram{
            position: absolute;
            top: 50%;
            left: 50%;
           transform: translate(-50%,-50%);
           -ms-transform: translate(-50%,-50%);
        } 