<!-- <form class="form" #f="ngForm" (ngSubmit)="resetPassword()">
          

               
  <div>
  <label>Password : </label>
  <input type="text" name="password" placeholder="Password" id="password" [(ngModel)]="password"
    required  #cpassword=ngModel>
    <div class="alert alert-danger" *ngIf="cpassword.errors && (cpassword.touched || cpassword.dirty)">
      <p>Password <strong>
          <span *ngIf="cpassword.errors.required">is not left blank</span>
        </strong>
      </p>
    </div>
  </div>

  <div>
  <label>Confirm Password : </label>
    <input type="text" name="conpassword" id="conpassword" placeholder="Confirm Password"  [(ngModel)]="confPass"
      (ngModelChange)="checkSame($event)" required #conpassword=ngModel>
      <div class="alert alert-danger" *ngIf="!isCorrect">
        <p>Confirm Password <strong>
            <span>should be same as password</span>
          </strong>
        </p>
      </div>
  </div>

    
    <input type="text" name="username" placeholder="username" id="username" [(ngModel)]="username"
    required >
    <input type="text" name="OTP" placeholder="OTP" id="OTP" [(ngModel)]="Otp"
    required >
<div>
    <button type="submit" class="btn btn-primary">Change</button>
  </div>

  
</form> -->




     
<div class="container-fluid">
    
	<div class="row cb-slideshow-text-container ">
		<div class="tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto mr-auto section">
    
       <div class="login">
						<h1>Reset Password</h1>
            <form class="form" #f="ngForm" (ngSubmit)="f.valid && resetPassword()">

                <div>
                    <input type="text" name="username" placeholder="Username" id="username" [(ngModel)]="username"
                    required >
                  </div>
                  
              <div>
                <input type="password" name="password" placeholder="New Password" id="password" [(ngModel)]="password"
                  required #cpassword=ngModel>

                  <div class="alert alert-danger" *ngIf="cpassword.errors && (cpassword.dirty)">
                      <p><strong>
                          <span *ngIf="cpassword.errors.required">Password cannot be empty</span>
                        </strong>
                      </p>
                    </div>
                </div>

                <div>
                      <input type="password" name="conpassword" id="conpassword" placeholder="Confirm Password"  [(ngModel)]="confPass"
                      (ngModelChange)="checkSame($event)" required #conpassword=ngModel>
                      <div class="alert alert-danger" *ngIf="conpassword.touched && !isCorrect">
                          <p>Confirm Password <strong>
                              <span>should be same as password</span>
                            </strong>
                          </p>
                        </div>
                      
                    </div>
    

              <div>
                  <input type="text" name="OTP" placeholder="OTP" id="OTP" [(ngModel)]="Otp"
                  required >
                </div>

                <div>
                    <button type="submit" class="btn btn-primary btn-block btn-large">Change</button>
                  </div>
               
                
							 </form>
					</div>
					</div>


		
	</div>

</div>



